.List {
  width: 600px;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #e7e7e7e3;
  border: 2px solid #a1a1a1;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  padding: 4px 4px 4px 4px;
}

.Item {
  font-weight: 400;
  font-size: 26px;
}
